#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 100px;
  text-align: center;
  
  box-sizing: border-box;

}

.main-content {
  margin-top: 80px;
  
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
