#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 100px;
  text-align: center;
  
  box-sizing: border-box;

}

.main-content {
  margin-top: 80px;
  background: linear-gradient(0deg,rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
